@import "./base/reset";
@import "./base/typography";

nav {
    width: 100%;
    height: 70px;
    background-color: #004274;

    .navbar {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .lists {
                display: flex;
                gap: 30px;
                align-items: center;

                img {
                    margin-top: 5px;
                }

                #bars {
                    display: none;
                }
    
                .a_lists {
                    display: flex;
                    gap: 10px;
                }
                
            }

           
        }

        .navbar-number-btn {
            display: flex;
            gap: 20px;
            align-items: center;
            
            button {
                width: 105px;
                height: 45px;
                background-color: #00aeff;
                color: #ffffff;
                border: none;
                border-radius: 6px;
            }

            button:hover {
                background: none;
                border: 1px solid #00aeff;
                color: #00aeff;
                transition-duration: 0.5s;
            }
        }
    }
}

#search {
    width: 100%;

    .search_main_container {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
    
        input {
            width: 410px;
            height: 45px;
            border: 1px solid #00000030;
            border-radius: 6px;
            padding-left: 30px;
            padding-right: 30px;
        }
    
        select {
            width: 100px;
            height: 45px;
            border: 1px solid #00000030;
            border-radius: 6px;
            font-size: 15px;
        }
    
        button {
            width: 105px;
            height: 45px;
            background-color: #004274;
            color: #ffffff;
            border-radius: 6px;
            border: none;
            font-size: 18px;
        }
    }
}

header {
    width: 100%;
    height: 90vh;
    background: linear-gradient( rgba(25,40,57,0.6) 0%, rgba(26,39,56,0.6) 25%),  url("../assets/img/h1_hero1.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    .hero-caption {
        width: 526px;
        position: absolute;
        left: 200px;
        top: 250px;

        span {
            font-size: 18px;
            color: #ffffff;
        }

        h1 {
            font-size: 60px;
            color: #ffffff;
            margin-top: 10px;
        }
        
        p {
            font-size: 20px;
            color: #ffffff;
            margin-top: 10px;
        }

        .price {
            font-size: 40px;
            font-weight: 600;
            color: #ffffff;
            margin-top: 20px;
        }

        button {
            width: 166px;
            height: 50px;
            background-color: #00aeff;
            color: #ffffff;
            border: none;
            border-radius: 6px;
            font-size: 18px;
            margin-top: 20px;
        }

        button:hover {
            background-color: #004274;
            transition-duration: 1s;
        }
    }
}

#slider {
    width: 100%;
    background-color: #ffffff50;

    .slider_top {
        text-align: center;
        padding-top: 100px;

        p {
            font-size: 18px;
            max-width: 636px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    .carousel-inner {
        max-width: 85%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
        padding-bottom: 100px;


        .carousel-card {
            width: 378px;
            height: 426px;
            border: 1px solid #000;

            .card_text {
                width: 100%;
                height: 100%;
                border-radius: 1px solid #000;
                padding-left: 30px;
                padding-top: 30px;

                span {
                    color: #00aeff;
                    font-weight: 500;
                }

                a {
                    text-decoration: none;
                    color: #000;
                    font-weight: 500;
                }

                p {
                    color: #000000a4;
                    font-size: 16px;
                    max-width: 336px;
                }
            }
        }
    }
}

#help {
    width: 100%;
    height: 550px;
    background-image: url("../assets/img/section-bg1.jpg.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: 100px;

    h2 {
        color: #ffffff;
    }

    .help_main_container {
        max-width: 69%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;

        .help-card {
            width: 330px;
            height: 295px;
            background-color: #00aeff;
            text-align: center;
            padding-top: 50px;

            img {
                margin-bottom: 30px;
            }

            a {
                color: #ffffff;
                font-size: 22px;
                text-decoration: none;
                font-weight: 600;
            }

            p {
                color: #ffffff;
                font-size: 16px;
                margin-top: 20px;
            }
        }
    }
}

#property {
    width: 100%;
    background-color: #f2f4f8;

    .property_main_container {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 70px;

        .property_left {
            width: 416px;
            height: 246px;

            h2 {
                width: 416px;
                font-size: 38px;
                margin-bottom: 20px;
            }

            p {
                width: 100%;
                font-size: 18px;
            }

            button {
                width: 195px;
                height: 44px;
                background-color: #00aeff;
                color: #ffffff;
                border: none;
                border-radius: 6px;
                margin-top: 20px;
            }

            button:hover {
                transition-duration: 1s;
                background-color: #004274;
            }
        }

        .property_right {
            max-width: 880px;
            background-color: #ffffff;
            display: flex;
            justify-content: space-between;
            gap: 0;

            .property_card {
                width: 220px;
                height: 200px;
                text-align: center;
                padding-top: 60px;

                img {
                    margin-bottom: 20px;
                }

                a {
                    text-decoration: none;
                    color: #000;
                }

                a:hover {
                    text-decoration: underline;
                    color: #00aeff;
                }
            }
        }
    }
}

#house {
    width: 100%;

    .house_main {
        max-width: 100%;
        display: flex;
        justify-content: space-between;

        .house_left {
            max-width: 50%;
            background-color: #004274;
            padding: 80px 50px 80px 50px;

            h2 {
                color: #ffffff;
                margin-bottom: 20px;
            }

            p {
                color: #ffffff;
                font-size: 18px;
            }

            input {
                width: 550px;
                background: none;
                border: none;
                border-bottom: 1px solid #ffffff;
                padding-left: 20px;
                padding-bottom: 10px;
                color: #ffffff;
                padding-right: 20px;
                outline: none;
                margin-top: 20px;
            }
        }

        img {
            width: 50%;
        }
    }
}

footer {
    width: 100%;
    background-color: #f2f6f9;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;

    span {
        color: #000;
    }
}






