@media screen and (max-width: 1380px) {
    .search_main_container input {
        width: 250px;
    }
}

@media screen and (max-width: 1096px) {
    .search_main_container input {
        width: 200px;
        font-size: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .search_main_container select {
        width: 80px;
    }
    
    .search_main_container button {
        width: 80px;
    } 
}

@media screen and (max-width: 971px) {
    .a_lists {
        gap: 5px;
    }

    .lists {
        gap: 20px;
    }
}

@media screen and (max-width: 870px) {
    .navbar-number-btn span{
        font-size: 16px;
    }

    .navbar-number-btn button{
        max-width: 85px;
    }

    .lists li {
        font-size: 16px;
    }

    .search_main_container input {
        width: 130px;
        font-size: 12px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .search_main_container select {
        width: 60px;
        font-size: 12px;
    }
    
    .search_main_container button {
        width: 60px;
        font-size: 12px;
    } 
}

@media screen and (max-width: 760px) {
    .navbar-number-btn span{
        font-size: 14px;
    }

    .navbar-number-btn button{
        max-width: 75px;
        font-size: 14px;
    }

    .lists li {
        font-size: 14px;
    }

    .hero-caption {
       left: 100px !important;
       width: 450px !important;
    }
}

@media screen and (max-width: 700px) {
    .a_lists {
        display: none;
    }

    #bars {
        display: block;
    }

    .a_lists li a{
        display: none;
    }

}

@media screen and (max-width: 620px) {
    .search_main_container {
        margin-left: 20px !important;
    }

    .search_main_container input {
        width: 100px;
        font-size: 9px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .search_main_container select {
        width: 40px;
        font-size: 9px;
    }

    .search_main_container option {
        width: 40px;
        font-size: 9px;
    }
    
    .search_main_container button {
        width: 40px;
        font-size: 9px;
    } 

    .hero-caption {
        top: 150px !important;
        left: 50px !important;
        width: 400px !important;
    }
}

@media screen and (max-width: 493px) {
    .navbar-number-btn span{
        font-size: 12px;
    }

    .navbar-number-btn button{
        max-width: 60px;
        font-size: 12px;
    }
}

@media screen and (max-width: 450px) {
    .navbar-number-btn span{
        font-size: 8px;
    }

    .search_main_container select {
        width: 30px;
        height: 30px;
        font-size: 6px;
    }

    .search_main_container option {
        width: 30px;
        height: 30px;
        font-size: 6px;
    }

    .search_main_container button {
        width: 30px;
        height: 30px;
        font-size: 6px;
    }

    .search_main_container input {
        width: 60px;
        height: 30px;
        font-size: 6px;
    }

    .hero-caption {
        width: 330px !important;
        left: 30px !important;
    }
}

@media screen and (max-width: 400px) {
    .navbar-number-btn span{
        width: 50px;
    }

    .hero-caption {
        top: 50px !important;
        width: 280px !important;
        left: 20px !important;
    }

    .search_main_container {
        margin-left: 20px !important;
    }

    .search_main_container input {
        width: 110px !important;
        font-size: 8px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .search_main_container select {
        width: 40px !important;
        font-size: 8px !important;
    }

    .search_main_container option {
        width: 40px !important;
        font-size: 8px !important;
    }
    
    .search_main_container button {
        width: 60px !important; 
        font-size: 8px !important;
    }
}

@media screen and (max-width: 350px) {
    .navbar-number-btn button{
        max-width: 50px;
        font-size: 10px;
    }

    .hero-caption {
        top: 30px !important;
        width: 250px !important;
        left: 15px !important;
    }
}

@media screen and (max-width: 300px) {
    .search_main_container input {
        width: 50px;
    }

    .search_main_container select {
        width: 23px;
    }

    .search_main_container option {
        width: 23px;
    }

    .search_main_container button {
        width: 23px;
    }
}